node_modules
**/node_modules
dist
**/dist
build
**/build
target
**/target
backup
**/backup
llamacpp
**/llamacpp
chrome-extension
**/chrome-extension
curator-vscode-plugin
**/curator-vscode-plugin
prisma-erd-visualizer
**/prisma-erd-visualizer
data
**/data
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.db-journal
*.db-wal
.git
.env
.env.*
*.log
.DS_Store
Thumbs.db
