node_modules
**/node_modules
data
**/data
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.db-journal
*.db-wal
web-dist
**/web-dist
dist
**/dist
target
**/target
test
**/test
logs
**/logs
.git
**/.git
.agent
**/.agent
.agents
**/.agents